 <!DOCTYPE html>
<html>
<head>
    <title>My Workout Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <header>
        <!-- Header content -->
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
