 <!DOCTYPE html>
<html>
<head>
    <title>My Workout Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <header>
<h1>Workout Tracker</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/workouts">Workouts</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
    <script src="/js/main.js"></script>    
</body>
</html>
