 {{!-- Use the main layout --}}
{{> layouts/main}}

{{!-- Insert specific data into the layout --}}
{{#contentFor "body"}}
    <h1>Welcome to the Workout Tracker!</h1>
    <p>Recent workouts:</p>
    {{!-- Loop through workouts and display their details --}}
    {{#each workouts}}
        <p>Workout Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <hr>
    {{/each}}
{{/contentFor}}
