 {{!-- Use the main layout --}}
{{> layouts/main}}

{{#contentFor "body"}}
    <h2>Login Form</h2>
    <form>
        <!-- Form fields for login, e.g., username and password -->
    </form>
{{/contentFor}}
