 {{!-- Use the main layout --}}
{{> layouts/main}}

{{#contentFor "body"}}
    <h2>Registration Form</h2>
    <form action="/register" method="POST">
    <h2>Register</h2>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Register</button>
</form>

{{/contentFor}}
