 {{!-- Use the main layout --}}
{{> layouts/main}}

{{#contentFor "body"}}
    <h2>Registration Form</h2>
    <form>
        <!-- Form fields for user registration -->
    </form>
{{/contentFor}}
